.defaultPage-main{
    width: 83%;
    height: 100%;
    // border: 1px solid white;



    .default-div1{
        width: 100%;
        height: 45vw;
        // border: 1px solid green;

        .lrc{
            width: 100%;
            height: 42px;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            align-items: center;
            color: #F5F5F5;
            font-family: 'Rubik',sans-serif;
            font-size: 1.38vw;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 100% */
            letter-spacing: 1px;
            text-transform: uppercase;
            // text-align: center;


            .create-new-pool{
                width: 25%;
                height: 41px;
                border-radius: 6px;
                border: 1px solid #9ADBFF;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                font-family: 'Rubik',sans-serif;
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 133.333% */
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-left: 14%;
            }
        }
        .stm-main{
            width: 100%;
            height: 39.5vw;
            position: relative;

            .stdim{
                max-width: 100%;
                // max-height: 100%;
            }

            .markets{
                width: 100%;
                height: 107px;
                position: absolute;
                top: 83%;
                // border: 1px solid white;


                .markets-div1{
                    width: 100%;
                    height: 33px;
                    // border: 1px solid green;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .markets-heading{
                        color: #F5F5F5;
                        font-family: 'Rubik',sans-serif;
                        font-size: 2.5vw;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 55.556% */
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                    .market-dropdown{
                        width: 18%;
                        height: 100%;
                        border-radius: 6px;
                        border: 1px solid #7CE7FF;

                        select{
                            width: 100%;
                            height:100%;
                            padding-left: 10px;
                            background: transparent;
                            outline: none;
                            border: none;
                            color: #F5F5F5;
                            font-family: 'Rubik',sans-serif;
                            font-size: 1.2vw;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px; /* 133.333% */
                            letter-spacing: 1px;
                            text-transform: capitalize;

                            appearance: none;
                        }
                    }
                    .markets-search{
                        width: 60%;
                        height: 100%;
                        border-radius: 6px;
                        border: 1px solid #7CE7FF;
                        input{
                            width: 99%;
                            height: 100%;
                            color: #9ADBFF;
                            padding-left: 10px;
                            border: none;
                            outline: none;
                            background: transparent;
                        }
                        input::placeholder{
                            color: #F5F5F5;
                            font-family: 'Rubik',sans-serif;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px; /* 133.333% */
                            letter-spacing: 1px;
                            text-transform: capitalize;
                        }
                    }
                }
                .markets-div2{
                    width: 100%;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;  
                    margin-top: 3%;

                    color: #F5F5F5;
                    font-family: 'Rubik',sans-serif;
                    font-size: 1.2vw;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 133.333% */
                    letter-spacing: 1px;
                    text-transform: capitalize;
                }
            }
           
        }
    }


    .default-div2{
        width: 100%;
        height: auto;
        overflow: auto;
        // border: 1px solid white;
        margin-top: 2%;
        // display: block;
    }
    .expanded{
        height: 710px;
    }
    .selected-sport{
        width: 175px;
        height: 33px;
        border-radius: 4px;
        border: 1px solid #7CE7FF;
        display: flex;
        align-items: center;
        gap: 10px;
        // margin-top: 3%;


        color: #F5F5F5;
        font-family: 'Rubik',sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px; /* 86.667% */
        letter-spacing: 0.1px;
    }
    .match-dropdown{
        width: 100%;
        height: 35px;

        margin-top: 1%;


        
        .MuiAccordion-root{
            background: transparent;
            height: 100%;
        }
        .MuiAccordionSummary-root{
            background: transparent;
            border-radius: 4px;
            border: 1px solid #7CE7FF;
            height: 100%;
            min-height: 0px;


            color: #F5F5F5;
            font-family: 'Rubik',sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 133.333% */
            letter-spacing: 0.1px;
        }

        .MuiAccordionDetails-root{
            // padding-top: 10px;
            padding: 10px 0px 0px 0px;
        }
        .match-details{
            width: 100%;
            height: 620px;
            // border: 1px solid white;
            display: flex;

            overflow: auto;
            border-radius: 6px;
            background: linear-gradient(180deg, #0054D1 0%, rgba(0, 69, 90, 0.00) 100%);

            .match-table-row{
                display: flex;

            }
            .match-name{
                width: 37%;
                height: 100%;
            }
            .volume{
                width:17.5% ;
                height: 100%;
            }
            .apr{
                width:15% ;
                height: 100%;
            }
            .liquidity, .fees{
                width: 15%;
                height: 100%;
                background: linear-gradient(180deg, #01152B 0%, rgba(0, 50, 66, 0.00) 100%);
            }

            .map-details{

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5%;

                color: var(--secondary-white-100, #F5F2F0);
                text-align: center;
                font-family: 'Rubik',sans-serif;
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 133.333% */
                letter-spacing: 0.1px;
            }
            .play-btn{
                width: 3.82vw;
                height: 3.33vw;
                border-radius: 4px;
                border: 1px solid #56D6FF;
                background: #002250;
                display:flex;
                align-items: center;
                justify-content: center;


                img{
                    width: 80%;
                }
            }
        }
    }
}